
<div class="wrapper">

    <app-burger-menu (newItemEvent)="getHourlyAndDailyResponse($event)"></app-burger-menu> 

    <div class="time">
        {{time}}
    </div>

    <div class="grid-container">
        <div *ngIf="chekerFunc_1()" class="container grid-item1">
            <p *ngIf="weather.length == 0">Searching...</p>
            <div *ngIf="weather.length > 0">
                <table class="first-table">
                    <thead></thead>
                    <tbody>
                        <td *ngFor="let forecast of weatherHourly">
                            <tr class="hour-element">
                                <img [src]="forecast.iconLink" />
                                <p>{{ forecast.temperature | slice: 0:2 }}°</p>
                                <p>{{ forecast.utcTime | date: 'HH' }}:00</p>
                            </tr>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="chekerFunc_2()" class="container_two grid-item2">
            <p *ngIf="weather.length == 0">Searching...</p>
            <div *ngIf="weather.length > 0">
                <table class="second-table">
                    <div class="title-text">
                        Week forecast for current location {{showCityName()}}
                    </div>
                    <thead></thead>
                    <tbody>
                        <tr *ngFor="let forecast of weather" class="flex-container" id="border_style">
                            <td class="flex-item">
                                <p>{{ forecast.utcTime | moment }}</p>
                            </td>
                            <td class="flex-item">
                                <img [src]="forecast.iconLink" class="icon" />
                            </td>
                            <td class="flex-item">
                                <p>{{ forecast.highTemperature | slice: 0:2}} C°</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>