<!-- FORM -->
<button (click)="enterCreateUser()" class="btn btn-outline-info btn-block" id="btn_createUser">Register</button>
<div *ngIf="toggle" class="background_createUser">
    <form id="content_of_btn_createUser" [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <div class="form-group">
            <label>login</label>
            <input class="form-control" name="login" formControlName="userLogin" />
            <div class="alert alert-danger"
                *ngIf="myForm.controls['userLogin'].invalid && myForm.controls['userLogin'].touched">
                Не указан логин
            </div>
        </div>

        <div class="form-group">
            <label>password</label>
            <input class="form-control" name="password" formControlName="userPassword" />
            <div class="alert alert-danger"
                *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
                Не указан пароль
            </div>
        </div>

        <span style="color:green">{{response}}</span>

        <div>
            <button [disabled]="myForm.invalid" (click)="createUser_Component()" type="submit"
                class="btn btn-primary btn-lg button_indent">
                Create
            </button>
        </div>

        <button type="button" class="btn btn-outline-danger x_button_indent"
            (click)="cancelCreateUser()">Cancel</button>
    </form>
</div>
<!-- FORM -->