<div>
    <div (click)="toggleClick($event, toggleMenu, toggleBurger1)" class="header_burger" #toggleBurger1>
        <span></span>
    </div>
    <div (click)="toggleActiveClass(toggleBurger, first, second, third, fourth)" class="burger" #toggleBurger>
        <span class="burger__line burger__line_first" #first></span>
        <span class="burger__line burger__line_second" #second></span>
        <span class="burger__line burger__line_third" #third></span>
        <span class="burger__line burger__line_fourth" #fourth></span>
    </div>

    <nav class="header_menu" #toggleMenu>
        <ul class="header_list">
            <li *ngFor="let item of citiesArray">
                <span (click)="getNameOfCity(item)" id="{{item}}" [ngClass]="item === name ? 'boldText' : ''"
                    class="header_link">{{item}}</span>
            </li>
        </ul>
    </nav>
</div>